:root {
  --page-sub-title-font-size: 1.2rem;
}
.navbar-brand {
  font-size: 1rem;
}
.navbar-body {
  position:sticky; /* 要素をスクロールに応じて固定 */
  top:0; /* 縦スクロールに追従 */
  z-index: 200; /* z-indexで最前面に持ってくる */
}
.question-list-body {
  display: block;
  width: 750px;
  margin-left: auto;
  margin-right: auto; 
  position:relative   
}
.page-header {
  margin-top: 5px;
  margin-bottom: 5px;
}
.title-list {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight:bold;
  color: #0044a0;
  text-align: left;  /* 文章を左寄せする(※) */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.author-list {
  text-align: right; /* 文章を右寄せする */
}
.additional {
  color: #aaa;
  font-size: small;
  text-align: left;
}
.page-title {
  font-weight:bold;
  color: #0044a0;
}
.page-body {
  width: 100%;
  display: block;
}
.stackoverflow-body {
  display: inline-block;
  width: 600px;
  margin-left: 100px;
}
.access-body {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  margin: 0px 25px;
  padding: 10px;
  position:sticky; /* 要素をスクロールに応じて固定 */
  top:50px; /* 縦スクロールに追従 */
  z-index: 100; /* z-indexで最前面に持ってくる */
}
.commercial{
  margin-bottom: 50px 0px;
}
p.commercial{
  color: #0044a0;
}
.commercial:hover {
	animation: buruburu .04s linear infinite;
}
@keyframes buruburu {
  0% {
  transform:translate(0, 0) rotate(-8deg);
}
50% {
  transform:translate(0, -2px) rotate(0deg);
}
  100% {
  transform:translate(0, 0) rotate(8deg);
}
}

@keyframes uki-uki {
0% {
  transform: rotate(-8deg);
  transition: transform ease-in;
}
50% {
  transform: rotate(8deg);
  transition: transform ease-in-out;
}
100% {
  transform: rotate(-8deg);
  transition: transform ease-out;
}
}
.author-date {
  display:inline-block;
  font-size: 0.5rem;
  margin-bottom: 20px;
}
.author {
  display:inline-block;
  font-size: 0.5rem;
  margin-bottom: 20px;
}
.date-left {
  display:block;
  font-size: 0.5rem;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;
}
.date {
  display:block;
  font-size: 0.5rem;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: right;
}
.body {
  font-size: 1.0rem;
  margin-bottom: 20px;
}
.navbar-default {
  border-bottom: 1px solid #dadada;
  background-color: #fafafa;
}
a {
  color: #0044a0;
}
.main-area {
  background-color: none
}
.edit-button {
  vertical-align:middle;
}
.edit-button:hover {
  cursor: pointer;
}
.btn_3d_jumpback {
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
}
.btn_3d_jumpback:hover button {
  animation: btn_3d_jumpback 0.3s ease-out;
  animation-fill-mode: forwards;
}
@keyframes btn_3d_jumpback {
  from {
      transform: translateZ(0px) rotateX(0deg);
      color: #ffffff;
      background-color: #0044a0;
      }
  49.99% {
      transform: translateZ(100px) rotateX(90deg);
      background-color: #808080;
      color: #0044a0;
  }
  50.00% {
      transform: translateZ(100px) rotateX(-90deg);
      background-color: #0044a0;
      color: #808080;
  }
  to {
      transform: translateZ(0px) rotateX(0deg);
      background-color: #0044a0;
      color: #ffffff;
  }
}

/* ふきだし */
.balloon-set-box {
  display: flex;
  flex-wrap: wrap;
}
.balloon-set-box.left { /* 左 */
  flex-direction: row;
}
.balloon-set-box.right { /* 右 */
  flex-direction: row-reverse; /* アイコンと吹き出しの並びを入れ替える */
}
.balloon {
  position: relative; /* 三角の位置を固定するために設定 */
  display: inline-block;
  max-width: 1200px;
  margin: 10px 20px 20px; /* 上 左右 下のマージン */
  padding: 8px 15px; /* ふきだし内の余白 */
  background: #f0f0f0; /* 背景色 */
  text-align: left; /* テキストの揃え */
  border-radius: 15px;
}
.balloon::after {
  content: '';
  border: 14px solid transparent;
  border-top-color: #f0f0f0;
  position: absolute;
  top: 0;
}
.left .balloon::after { /* 左側からの三角の位置 */
  left: -10px;
}
.right .balloon::after { /* 右側からの三角の位置 */
  right: -10px;
}
.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  overflow: hidden;
}
.vote {
  display: flex;
}
.question-search{
  margin-bottom: 40px
}
.post-msg {
  text-align: left;  /* 文章を左寄せする(※) */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.post-qes {
  text-align: right; /* 文章を右寄せする */
}
